html {
  box-sizing: border-box;
  color: #333;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  border: 2px solid #333;
  list-style: none;
}

img {
  width: 100px;
}

.quest {
  background-color: #e2e2e2;
}

.knights {
  background-color: #ccc;
}

.dragon {
  background-color: #aaa;
}

.ships {
  background-color: #999;
}
